version: '3'
services:
  # Application Dockerfile is in same folder which is .
  app:
    tty: true
    stdin_open: true

    build: .

  # db is in db folder
  db:
    build: db/.
    command: --default-authentication-plugin=mysql_native_password
    restart: always